.widget {
    margin-top: 1em;
    margin-bottom: 1em;
}

.widget-item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #33C3F0;
    color: #fff;
}

.widget-item:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.widget-item {
    border: 1px solid #33C3F0;
    display: block;
    padding: 6px 8px;
    margin: 0;
    margin-bottom: -1px;
}

.upload {
    margin: 0
}

.u-modal {
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}
.u-modal-content {
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:600px
}
.u-modal-header {
    background: #EEE;
    font-size: 2rem;
    padding: 0 1em; 
    text-align: center;
    border-bottom: 1px solid black;
}

.u-modal-body {
    padding: 1em;
}

.u-modal-footer {
    background: #EEE;
    padding: 1em;
    border-top: 1px solid black;
}
